.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden; }

html {
  scroll-behavior: smooth; }

.btn {
  display: inline-block;
  background-color: #f01a36;
  color: #fff;
  padding: 0.7rem 2.5rem;
  margin-right: 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: all 0.7s ease; }
  .btn:hover {
    background-color: #f1465d; }

.bg-main {
  background-color: #f01a36;
  color: #f4f4f4; }

.bg-dark {
  background-color: #333;
  color: #f4f4f4; }

.bg-medium {
  background-color: #f0e5e5;
  color: #333; }

.bg-light {
  background-color: #f4f4f4;
  color: #333; }

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: left; }

.visibility-hidden {
  visibility: hidden; }

.d-flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem; }

.text-center {
  text-align: center; }

p-2 {
  padding: 2rem; }

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.py-4 {
  padding: 4rem 0; }

.pl-1 {
  padding-left: 1.5rem; }

.pr-1 {
  padding-right: 1.5rem; }

.pt-1 {
  padding-top: 1rem; }

.pt-2 {
  padding-top: 2rem; }

.pb-1 {
  padding-bottom: 1rem; }

.pb-2 {
  padding-bottom: 2rem; }

.my-1 {
  padding: 1rem 0; }

.my-2 {
  padding: 2rem 0; }

.my-3 {
  padding: 3rem 0; }

.my-4 {
  padding: 4rem 0; }

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase; }

.bottom-line {
  height: 2px;
  width: 3rem;
  background: #f01a36;
  display: block;
  margin: 0 auto 1rem auto; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background: #f4f4f4; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

h2,
h3,
h4 {
  text-transform: uppercase; }

img {
  width: 100%; }

#logo {
  width: 70px;
  height: 70px;
  color: #f4f4f4;
  text-transform: uppercase; }

#main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  position: relative;
  z-index: 5; }
  #main-nav ul {
    display: flex; }
  #main-nav li {
    padding: 1rem 1.5rem; }
  #main-nav a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s; }
    #main-nav a:hover {
      border-color: #f01a36; }
    #main-nav a.current {
      border-color: #f01a36; }

#header-home {
  width: 100vw;
  height: 100vh;
  background: url("../img/slider.jpg") no-repeat center center/cover fixed;
  position: relative; }
  #header-home:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000000a1;
    z-index: 2; }
  #header-home .header-content {
    position: relative;
    z-index: 3;
    padding-top: 9rem;
    color: #fff;
    text-align: center; }
    #header-home .header-content .heading {
      font-size: 2.8rem;
      font-weight: bold;
      padding-top: 3rem;
      letter-spacing: 2px; }
    #header-home .header-content .text-sm {
      font-size: 1.3rem; }
    #header-home .header-content .btn-container {
      margin-top: 1.4rem; }
    #header-home .header-content .btn {
      display: inline-block;
      background-color: #f01a36;
      color: #fff;
      padding: 0.7rem 2.5rem;
      margin-right: 1rem;
      border-radius: 5px;
      font-size: 1.2rem;
      transition: all 0.7s ease; }
      #header-home .header-content .btn:hover {
        background-color: #f1465d; }
    #header-home .header-content .btn-transparent {
      background: transparent;
      border: solid 1px #fff; }
      #header-home .header-content .btn-transparent:hover {
        background-color: #fff;
        color: #f01a36; }

#home-a .lead {
  font-size: 1.1rem;
  max-width: 1000px;
  margin: 0 auto 2rem; }

#home-a .grid-wrapper .d-flex > div:first-child .fas {
  border-radius: 50%;
  background: #f01a36;
  color: #f4f4f4;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  transition: all 1s;
  font-size: 25px; }

#home-a .grid-wrapper .d-flex > div:last-child {
  padding-left: 1.5rem; }

#home-a .glider-contain {
  width: 80%; }
  #home-a .glider-contain .glider {
    width: 80%;
    overflow: hidden;
    margin: 0 auto; }
    #home-a .glider-contain .glider img {
      padding-bottom: 1rem; }

#home-b .grid-wrapper {
  margin-top: 5rem;
  grid-template-columns: repeat(3, 1fr); }
  #home-b .grid-wrapper .d-flex > div:first-child {
    padding-top: 0.4rem; }
  #home-b .grid-wrapper .d-flex h3 {
    color: #f01a36; }
  #home-b .grid-wrapper .d-flex p {
    padding: 0rem 0.4rem 0.4rem 0rem;
    font-size: 1.1rem; }
  #home-b .grid-wrapper .grid-item {
    margin-bottom: 1rem; }

#home-c .grid-wrapper {
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
  text-align: center;
  grid-gap: 1.5rem; }
  #home-c .grid-wrapper .testimonial {
    background-color: #fff;
    padding: 2rem;
    -webkit-box-shadow: 4px 6px 15px 2px rgba(51, 51, 51, 0.47);
    -moz-box-shadow: 4px 6px 15px 2px rgba(51, 51, 51, 0.47);
    box-shadow: 4px 6px 15px 2px rgba(51, 51, 51, 0.47);
    transition: all 0.7s ease; }
    #home-c .grid-wrapper .testimonial:hover {
      transform: translateY(-10px);
      -webkit-box-shadow: 4px 4px 12px 1px rgba(0, 0, 0, 0.52);
      -moz-box-shadow: 4px 4px 12px 1px rgba(0, 0, 0, 0.52);
      box-shadow: 4px 4px 12px 1px rgba(0, 0, 0, 0.52); }
    #home-c .grid-wrapper .testimonial img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 5px solid #f4f4f4;
      -webkit-box-shadow: 4px 6px 15px 2px rgba(51, 51, 51, 0.47);
      -moz-box-shadow: 4px 6px 15px 2px rgba(51, 51, 51, 0.47);
      box-shadow: 4px 6px 15px 2px rgba(51, 51, 51, 0.47); }
    #home-c .grid-wrapper .testimonial .name {
      font-size: 1.2rem;
      padding: 0.6rem 0; }
    #home-c .grid-wrapper .testimonial .stars {
      color: #c9db27;
      margin-bottom: 0.7rem; }

#home-d {
  background: #fff; }
  #home-d .text-fields {
    display: grid;
    grid-template-areas: 'name email' 'subject phone' 'message message';
    grid-gap: 1.2rem;
    margin-bottom: 1.2rem; }
    #home-d .text-fields .name-input {
      grid-area: name; }
    #home-d .text-fields .subject-input {
      grid-area: subject; }
    #home-d .text-fields .email-input {
      grid-area: email; }
    #home-d .text-fields .phone-input {
      grid-area: phone; }
    #home-d .text-fields .message-input {
      grid-area: message;
      height: 100px; }
    #home-d .text-fields .text-input {
      padding: 0.5rem 1rem; }
  #home-d button[type='submit'] {
    width: 50%;
    border-radius: 0;
    outline: none;
    border: none; }

#footer .grid-wrapper {
  grid-template-columns: repeat(3, 1fr); }
  #footer .grid-wrapper a {
    color: #fff; }
  #footer .grid-wrapper h3 {
    margin: 0.6rem 0; }

#footer h2 {
  font-size: 2.9rem; }

#footer .d-flex {
  justify-content: space-between;
  align-items: center; }
  #footer .d-flex .social {
    display: flex;
    justify-content: center;
    align-items: center; }
    #footer .d-flex .social .fab {
      color: #fff;
      margin-right: 1rem;
      font-size: 1.2rem;
      padding: 0.8rem;
      border: 1px solid #fff;
      border-radius: 50%;
      transition: background 0.5s ease; }
      #footer .d-flex .social .fab:hover {
        background: #f01a36; }

#footer .container.p-2 {
  padding: 2rem !important; }

@media (max-width: 1030px) {
  #header-home .header-content {
    padding-top: 7rem; }
    #header-home .header-content .heading {
      padding-top: 3rem;
      padding-bottom: 0.7rem;
      line-height: 1.2;
      font-size: 2.5rem; } }

@media (max-width: 790px) {
  #home-a .grid-wrapper {
    grid-template-columns: 1fr; }
  #home-a .glider-contain {
    width: 95%; }
    #home-a .glider-contain .glider {
      width: 90%; }
  #home-b .grid-wrapper {
    grid-template-columns: repeat(2, 1fr); }
  #home-c .grid-wrapper {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 650px) {
  #header-home #main-nav {
    flex-direction: column; }
  #home-a .d-flex {
    flex-direction: column;
    align-items: center;
    text-align: center; }
    #home-a .d-flex h3 {
      margin: 1.3rem 0; }
    #home-a .d-flex > div:last-child {
      padding-left: 0 !important; }
  #home-b .grid-wrapper {
    grid-template-columns: 1fr; }
    #home-b .grid-wrapper .d-flex {
      flex-direction: column;
      text-align: center;
      align-items: center; }
      #home-b .grid-wrapper .d-flex > div:first-child {
        padding: 0;
        padding-bottom: 1rem; }
  #home-c .grid-wrapper {
    grid-template-columns: 1fr; }
  #home-d .text-fields {
    grid-template-areas: 'name' 'email' 'subject' 'phone' 'message' 'message'; }
    #home-d .text-fields .text-input {
      border: 1px solid #333; }
  #footer .grid-wrapper {
    grid-template-columns: 1fr; }
    #footer .grid-wrapper .grid-item {
      border-bottom: 1px solid #f0e5e5;
      padding: 1.8rem 0; }
      #footer .grid-wrapper .grid-item:last-child {
        border: none; }
  #footer .py-3 {
    padding: 0 0 1rem; } }

@media (max-width: 450px) {
  #header-home .header-content {
    padding-top: 4rem; }
    #header-home .header-content .heading {
      padding-top: 3rem;
      padding-bottom: 0.7rem;
      line-height: 1.2;
      font-size: 2.2rem; }
    #header-home .header-content h2 {
      font-size: 1.3rem; }
    #header-home .header-content .btn {
      padding: 0.5rem 2rem;
      margin-bottom: 1rem; }
  #footer .d-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #footer .d-flex p {
      padding-bottom: 1rem; } }
